.User-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 30rem;
}
.Dashboard-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}