.title-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    cursor: pointer;
}

.horizontal {
    flex-direction: row !important;
    white-space: nowrap;
}

.CoreCard {
    width: 20rem;
}