.Register{
    width: 30rem;
    min-width: 30rem;
    margin: 5rem auto;
    padding: 2rem;
    background-color: #8C9CA4;
    border-radius: 20px;
}
.form-label{
    color: #FFFFFF
}

.Register h1{
    color: #FFFFFF;
}
.Register a{
    text-decoration: none;
    color: rgb(255,255,255);
    float: right;
}